<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zx.mapper.AccountMapper">
  <resultMap id="BaseResultMap" type="com.zx.domain.Account">
    <!--@mbg.generated-->
    <!--@Table t_account-->
    <id column="aid" property="aid" />
    <result column="apwd" property="apwd" />
    <result column="money" property="money" />
    <result column="uid" property="uid" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    aid, apwd, money, `uid`
  </sql>

  <select id="selectOne" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from t_account
    where aid = #{aid}
    <if test="apwd != null ">
      and apwd = #{apwd}
    </if>
    <if test="money != 0">
    and money >= #{money}
  </if>
  </select>

  <update id="updateByPrimaryKeySelective">
    <!--@mbg.generated-->
    update t_account
    <set>
      <if test="money != 0">
        money = money + #{money},
      </if>
    </set>
    where aid = #{aid}
  </update>

</mapper>